{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    
    <title>cryptocurrency - monetary currency live data</title>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3 class="mb-5">Crypto currencies from https://ru.cryptonator.com/api</h3>

                {% verbatim %}

                <div id="app">

                {{ message }}

                <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">base</th>
                    <th scope="col">target</th>
                    <th scope="col">timestamp</th>
                    <th scope="col">price</th>
                    <th scope="col">avg price(last2min)</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="coin in coins" :key="coin.base">
                    <td class="align-middle">{{ coin.base }}</td>
                    <td class="align-middle">{{ coin.target }}</td>
                    <td class="align-middle">{{ coin.timestamp }}</td>
                    <td class="align-middle">{{ coin.price }}</td>
                    <td class="align-middle">{{ coin.avg }}</td>
                </tr>
                
                </tbody>
            </table>
                    <br>
                <br>
                <form @submit.prevent="createCoinPair">
                    <p><b>Enter new pair cryptocurrency-monetary currency like btc-usd:</b><br>
                    <input type="text" placeholder="etc-rub" name="new_pair" v-model="pair.name">
                    <input type="submit" value="Send">
                </form>
            </div>

            {% endverbatim %}


            </div>
        </div>
    </div>


      <h3 id="jokeul"></h3>
        <script>
            const { createApp } = Vue;
            const CoinsApp = {
                data() {
                    return {
                        pair: {
                            'name': '',
                            },
                        message: "Thanx for visit my site with live data",
                        coins: null
                    }
                },
                created() {
                    const socket = new WebSocket(`ws://${window.location.host}/ws/some_url/`);
                    let _this = this; // because socket.onmessage has its own this
                    socket.onmessage = function(event){_this.coins = JSON.parse(event.data)};
                    },
                methods: {
                    async createCoinPair() {
                        var response = await fetch(`http://${window.location.host}/pair_post?new_pair=${this.pair.name}`,
                        {
                            method: 'get',
                        });
                    }
                }
            }
            createApp(CoinsApp).mount('#app')

        </script>
</body>
</html>